# Dépendances
node_modules/
.yarn/
.pnp.*

# Compilation
dist/

# Secrets & Configuration personnelle
.env
youtube-cookies.json
src/lavalink/Lavalink.jar
src/lavalink/application.yml
src/lavalink/plugins/

# Logs
*.log

# Système
.DS_Store
