server:
  port: 8080
  address: 0.0.0.0

lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.16.0"
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.4.1"
  
  pluginsRepositories:
    - repository: "https://maven.lavalink.dev/releases"
    - repository: "https://jitpack.io"
    - repository: "https://maven.topi.ca/releases"

  server:
    password: "youshallnotpass"
    sources:
      youtube: false 
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false

plugins:
  lavasrc:
    providers: 
      - "ytsearch:\"%ISRC%\""
      - "ytsearch:%QUERY%"
    sources:
      spotify: true
    spotify:
      clientId: "${SPOTIFY_CLIENT_ID}"
      clientSecret: "${SPOTIFY_CLIENT_SECRET}"
      countryCode: "FR"
