server:
  port: 8080
  address: 0.0.0.0

lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.16.0"
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.4.1"
  
  pluginsRepositories:
    - repository: "https://maven.lavalink.dev/releases"
    - repository: "https://jitpack.io"
    - repository: "https://maven.topi.ca/releases"

  server:
    password: "youshallnotpass"
    sources:
      youtube: false 
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false

plugins:
  youtube:
    enabled: true
    allowSearch: true
    allowDirectVideoIds: true
    allowDirectPlaylistIds: true
    # On laisse les cookies désactivés pour éviter les bans d'IP sur Render
    clients:
      - TVHTML5EMBEDDED
      - ANDROID_VR
      - MUSIC
  lavasrc:
    providers: 
      - "spsearch:%QUERY%"       # Priorité 1 : Spotify (Très stable)
      - "scsearch:%QUERY%"       # Priorité 2 : SoundCloud (Stable)
      - "ytsearch:\"%ISRC%\""    # Priorité 3 : YouTube (Uniquement via code ISRC)
    sources:
      spotify: true
    spotify:
      clientId: "${SPOTIFY_CLIENT_ID}"
      clientSecret: "${SPOTIFY_CLIENT_SECRET}"
      countryCode: "FR"
